<Config>
    <!--<RangeValue Name="/RoboRio/BatteryVoltage" Rangehigh="13" Rangelow="9" Priority="1"/>-->
    <RangeValue Name="/Fault" Rangehigh="0" Rangelow="0" Priority="1"/>
    <RangeValue Name="/StickyFault" Rangehigh="0" Rangelow="0" Priority="2"/>
    <ExcludedValue Name="/FaultField" />
    <ExcludedValue Name="/Fault_SupplyCurrLimit" />
    <ExcludedValue Name="/Fault_StatorCurrLimit" />

    <!-- CAN Device Aliases -->
    <CANDiviceAlias LogName="TalonFX-20" Alias="FrontLeftDriveMotor"/>
    <CANDiviceAlias LogName="TalonFX-21" Alias="FrontLeftSteerMotor"/>
    <CANDiviceAlias LogName="CANcoder-21" Alias="FrontLeftEncoder"/>
    <CANDiviceAlias LogName="TalonFX-3" Alias="FrontRightDriveMotor"/>
    <!-- <CANDiviceAlias LogName="TalonFX-2" Alias="FrontRightSteerMotor"/> -->
    <!-- <CANDiviceAlias LogName="CANcoder-2" Alias="FrontRightEncoder"/> -->
    <CANDiviceAlias LogName="TalonFX-23" Alias="BackLeftDriveMotor"/>
    <CANDiviceAlias LogName="TalonFX-22" Alias="BackLeftSteerMotor"/>
    <CANDiviceAlias LogName="CANcoder-22" Alias="BackLeftEncoder"/>
    <!-- <CANDiviceAlias LogName="TalonFX-1" Alias="BackRightDriveMotor"/> -->
    <CANDiviceAlias LogName="TalonFX-0" Alias="BackRightSteerMotor"/>
    <CANDiviceAlias LogName="CANcoder-0" Alias="BackRightEncoder"/>

    <!-- Intake Motors -->
    <CANDiviceAlias LogName="TalonFX-16" Alias="Intake"/>
    <CANDiviceAlias LogName="TalonFX-11" Alias="Extender"/>
    <CANDiviceAlias LogName="CANdi-11" Alias="IntakeCANdi"/>

    <!-- Launcher Motor -->
    <CANDiviceAlias LogName="TalonFX-8" Alias="Launcher"/>
    <CANDiviceAlias LogName="TalonFX-7" Alias="Hood"/>
    <CANDiviceAlias LogName="TalonFX-4" Alias="Transfer"/>
    <CANDiviceAlias LogName="TalonFX-6" Alias="Turret"/>
    <CANDiviceAlias LogName="TalonFX-5" Alias="Indexer"/>
    <CANDiviceAlias LogName="TalonFX-18" Alias="agitator"/>
    <CANDiviceAlias LogName="CANdi-7" Alias="HoodCANdi"/>
    <CANDiviceAlias LogName="CANdi-6" Alias="TurretCANdi"/>

</Config>